* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f5f7fb;
  border-radius: 6px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 5px;
  transition: 0.3s;
  margin-bottom: 0px;
  font-weight: 500;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #dee2e7;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 20px 12px;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 6px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.userButtons{
  float: right; 
}

.formbold-mb-5 {
  margin-bottom: 15px;
  position: relative;
}
.formbold-pt-3 {
  padding-top: 12px;
}
.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}
.form-checkbox-wrapper{
  display: inline-block;
}
.formbold-form-label-changes-made {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: green;
  margin-bottom: 12px;
}
.text-input{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border-style: solid;
  width: 100%;
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
  vertical-align: bottom;
  margin-right: 10px;
}

label.checkbox {
  line-height: 24px;
  margin: 5px 0;
  display: block;
  height: 24px;
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 550px;
  min-width: 199px;
  width: 100%;
  background: white;
}
.formbold-form-label {
  display: block;
  font-weight: 500;
  font-size: 0.65em;
  color: #07074d;
  margin-bottom: 12px;
}
.formbold-form-label-2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 8px;
}

.formbold-form-label-3 {
  font-weight: 800;
  font-size: 26px;
  margin-bottom: 20px;
}

.formbold-form-input {
  width: 100%;
  padding: 12px 23px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: white;
  font-weight: 500;
  font-size: 16px;
  color: #6b7280;
  outline: none;
  resize: none;
}
.formbold-form-input:focus {
  border-color: #6a64f1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}
.form-save-file{
  display: flex;
}

.formbold-btn {
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  padding: 14px 32px;
  border: none;
  font-weight: 600;
  background-color: #c29709;
  color: white;
  cursor: pointer;
}
.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-small-btn {
  text-align: center;
  font-size:12px;
  border-radius: 6px;
  border: 2px solid  #c29709;
  padding: 8px 15px;
  font-weight: 600;
  background-color: #ffffff;
  color: #c29709;
  cursor: pointer;

}


.formbold--mx-3 {
  margin-left: -12px;
  margin-right: -12px;
}
.formbold-px-3 {
  padding-left: 12px;
  padding-right: 12px;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.w-full {
  width: 100%;
}
.w-small {
  margin-top:10px;
  width: 250px;
  margin-left: 6px;
  left: -6px;
  position: relative

}
.w-really-small {
  position: relative

}
.imageContainer{
  display: none;
}
.formbold-file-input input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 76%;
  z-index: 9;
  cursor: pointer;
}


.formbold-file-input label {
  position: relative;
  border: 1px dashed #e0e0e0;
  border-radius: 6px;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  text-align: center;
}
.formbold-drop-file {
  display: block;
  font-weight: 600;
  color: #07074d;
  font-size: 20px;
  margin-bottom: 8px;
}

.formbold-or {
  font-weight: 500;
  font-size: 16px;
  color: #6b7280;
  display: block;
  margin-bottom: 8px;
}
.formbold-browse {
  font-weight: 500;
  font-size: 16px;
  color: #07074d;
  display: inline-block;
  padding: 8px 28px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.formbold-file-list {
  border-radius: 6px;
  background: #f5f7fb;
  padding: 16px 17px;
  cursor: pointer;
}

.formbold-file-list:hover{
  background: #dee2e7;
}


.formbold-file-item {
  width: 100%;
  display: flex;
  align-items: center;
}

.formbold-file-item button {
  color: #07074d;
  border: none;
  background: transparent;
  cursor: pointer;

}

.form-edit-button{
  margin-right: 20px;
}
.form-file-item-image{
  padding-right: 10px;
}

.formbold-file-name {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  color: #07074d;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
  top: 3px;
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
}
.formbold-progress-bar {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: 6px;
  border-radius: 8px;
  background: #e2e5ef;
}

.formbold-progress {
  position: absolute;
  width: 75%;
  height: 100%;
  left: 0;
  top: 0;
  background: #6a64f1;
  border-radius: 8px;
}
.fa-bars{
  padding-right: 5px;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}


/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 594px;
}
.slidecontainer{
  display: inline-block;
  width: 100%;
  padding: 10px;
  padding-left: 0px;
}
.schedule-form{
  float: left;
  clear: left;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  position: relative;
  display: flex;
  text-align:center
}
.inputTime{
  display: flex;
  width: 25%;
  min-width: 60px;
  border-radius: 6px;
  border-style: solid;
  padding: 5px;

}
.signLink{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: radial-gradient( 5px -9px, circle, white 8%, #c29709 26px );
    background-color: #c29709;
    color: white;
    padding: 14px 3px 0 3px;
    font: bold 15px/13px Helvetica, Verdana, Tahoma;
    text-align: center;
    display: table;
    margin: 0 auto;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

.signLinkTitle{

  display: block;
  padding: 14px 3px 0 3px;
  font: bold 12px/10px Helvetica, Verdana, Tahoma;
  margin:0 auto;
  text-align: center;
  color: #c29709;
}

.signLinkContainer {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px 20px 0px;
}
.inputDate{
  display: flex;
  width: 40%;
  min-width: 60px;
  border-radius: 6px;
  border-style: solid;
  padding: 5px;

}
.inputDate.center{
  position: absolute;
  left: 20%;
  margin-top: -7px;
}
.inputTime.center{
  position: absolute;
  left: 35%;
}


.inputTime.end{
  position: absolute;
  right: 0px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


@media (min-width: 594px) {
  .sm\:w-half {
    width: 50%;
  }
  .fa-bars{
      padding-right: 15px;
    }
  .form-checkbox-wrapper{
      display: flex;
  }
  .formbold-form-label{
    font-size: 1em;
  }
  .tab button{
    padding: 14px 16px;
  }

  .formbold-form-label-2 {
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 15px;
    }
  .text-input{
      width: 200px;
  }
  .imageContainer{
      display: flex;
      position:absolute;
      float: right; 
      left:1300px; 
      top:200px;
  }
  .inputDate{
    width: 25%;
  }
  .editWrapper {
    margin: 70px auto;
    padding: 20px;
    background: #e7e7e7;
    border-radius: 5px;
    width: 100%;
    max-width: 550px;
    min-width: 199px;
    position: relative;
    transition: all 5s ease-in-out;
    z-index: 4;
  }
    
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background-color: #ffffff; /* Green */
}
.btn-circle.btn-lg:hover {
  background-color: #dee2e7; /* Green */
}

.btn-profile {
  width: 50px;
  height: 50px;
  padding: 10px 10px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background-color: #ffffff; /* Green */
}

.btn-profile:hover {
  background-color: #dee2e7; /* Green */
}

.btn-manager {
  width: 40px;
  height: 40px;
  padding: 10px 10px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background-color: #ffffff; /* Green */
}

.btn-manager:hover {
  background-color: #dee2e7; /* Green */
}

.btn-logout {
  width: 40px;
  height: 40px;
  padding: 10px 10px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background-color: #ffffff; /* Green */
}

.btn-logout:hover {
  background-color: #dee2e7; /* Green */
}

.ui-widget-header{
  background: #c29709 !important;
}

.ui-datepicker{
  z-index: 10 !important;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 250px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -125px;
  display: inline-block;

}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.tb-default .mat-button, .tb-default .mat-icon-button, .tb-default .mat-stroked-button{
  color: inherit;
  background: transparent;
}
.tb-dark mat-toolbar *, .tb-dark mat-toolbar ::after, .tb-dark mat-toolbar ::before, .tb-default mat-toolbar *, .tb-default mat-toolbar ::after, .tb-default mat-toolbar ::before{
  box-sizing: border-box;
}
.tb-dark button, .tb-default button{
  pointer-events: all;
}
.mat-icon-button{
  padding: 0;
  min-width: 0;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  line-height: 30px;
  border-radius: 50%;
}
.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button{
  position: relative;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  overflow: visible;
}
.mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button{
  font-family: Roboto,Helvetica Neue,sans-serif;
  font-size: 14px;
  font-weight: 500;
}


.editOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.editOverlay:target {
  visibility: visible;
  opacity: 1;
}
.editWrapper {
  display: inline-block;
  margin: 70px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  width: 100%;
  max-width: 550px;
  min-width: 199px;
  position: relative;
  transition: all 5s ease-in-out;
}
.editWrapper h2 {
  margin-top: 0;
  color: #333;
}
.editWrapper .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.editWrapper .close:hover {
  color: #07074d;
}
.editWrapper .content {
  max-height: 30%;
  overflow: auto;
}
/*form*/

.editContainer {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px 0;
}