# Environment variables
.env

# Logs
log/
*.log

# Dependencies
node_modules/
vendor/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Build files
dist/
build/

# Cache
.cache/ 